/*////////////// Fonts //////////////*/


/*////////// Global Styles //////////*/

body {
	/*background: #F3EBE9;*/
	background: #fff
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

h1 {
    padding-bottom: 10px;
    margin: 0 0 5px;
    font-size: 5em;
    font-weight: normal;
    font-family: 'Libre Baskerville', serif;
    border-bottom: 1px solid #ccc;
    color: #98ADA5;
}

h2 {
    margin-left: 50px;
    color: rgb(111,127,122);
    font-size: 2em;
    display: block;
    font-weight: bold;
}

p {
    color: #555;
    font-size: 1em;
    margin: 0 0 20px 0;
}

#featured a {
    color: #1783bb;
    text-decoration: none;
}

#featured img {
  border: 5px rgb(152,173,166) solid;
}

#press {
    margin-bottom: 20px;
}

#press img {
    border: 5px #ccc solid;
    padding: 1px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

div {
    display: block;
}

footer {
    text-align: right;
}

.small {
    font-size: 0.8em;
}